.modal-content {
  text-align: center;
  color: #e2e0e0;
  background-color: #6C6C6C;
  width: 400px;
  margin: 0 auto;
  height: 400px;
}

.modal-header #back-button, .modal-title {
  display: inline;
}

.modal-header #back-button {
  float: left;
}


.modal-body {
  height: 275px;
}

.modal-body section#landing p {
  margin: 0 0 130px;
}

.modal-body div#menu {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.modal-body div#menu section {
  width: 50%;
  height: 70px;
  margin-bottom: 20px;
  cursor:pointer;
  opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.modal-body div#menu section:hover {
  opacity: 0.6;
}

.modal-body div#menu section div {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  background-image: url("http://placehold.it/50x50");
  height: 50px;
  width: 50px;
}

.modal-body div h1 {
  margin: 0;
}

.modal-body div#danger ol {
  text-align: left;
}
